

body {
    background-image: url(img/background.png);
    background-position: center;
    background-size: 110% 100%;
    background-repeat: no-repeat;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
}


.body-styling {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.game-info-styling { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    font-size: 22px;
    font-weight: bold;
}

#logo img {
    width: 360px;
    position: relative;
    align-self: center;
    
}

#description {
    line-height: 36px;
    font-size: 26px;
}

#demon-img img {
    width: 150px;
    margin-left: 320px;
    margin-top: -220px;
}

#demon2-img img {
    width: 150px;
    margin-right: 320px;
    margin-top: -220px;
}

button:active {
    transform: scale(1.05)
}

button {
    border: none;
    background-color: transparent;
    background: transparent;
}

.score-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}



.score-info img {
    width: 600px;
    margin-top: -100px;
    position: relative;
    top: 80px;
}

.side-menu {
    display: flex;
    flex-direction: row;
}

.side-menu img {
    width: 180px;
}

.side-menu button {
    border: 2px solid #1f1f1f;
    background-color: #1f1f1f;
    color: white;
    border-radius: 5px;
    width: 100px;
    align-self: center;
}


.upgrades-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    gap: 5px;

}

#upgrade-info {
    list-style: none;
    background-color: #1f1f1f;
    color: white;
    border-radius: 15px;
    padding: 20px;
}

.manual-upgrades {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    gap: 15px;
}

#clickers {
    font-size: 85px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 40px;
}

#clear-save-data {
    align-self: center;
    border: 2px solid #1f1f1f;
    background-color: #1f1f1f;
    color: white;
    border-radius: 5px;
    width: 100px;
}

#MPS-Number {
    font-size: 25px;
}

#github-profile {
    text-decoration: none;
    color: #1f1f1f;
    font-size: 24px;
    font-weight: 450;
    position: absolute;
    bottom: 0;
    left: 2;


}



